# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [26]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os

# Import API key
from api_keys import g_key

gmaps.configure(api_key=g_key)

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [27]:
df=pd.read_csv('cities_data.csv')
df.dropna(inplace=True)
df

             City      lat      long   temp  humidity  cloudiness  windspeed
0           seydi  39.4816   62.9137  69.48      19.0         0.0      16.91
1          barrow  71.2906 -156.7887  17.60      79.0        90.0      12.66
2    longyearbyen  78.2186   15.6401  28.40      74.0        75.0      16.11
3           sitka  57.0531 -135.3300  44.60      87.0        90.0      12.66
4       fairbanks  64.8378 -147.7164  61.50      23.0        40.0       3.60
..            ...      ...       ...    ...       ...         ...        ...
607        jining  35.4050  116.5814  67.28      85.0       100.0       8.75
608      waingapu  -9.6567  120.2641  81.10      75.0        94.0      15.01
610        vicuna -30.0319  -70.7081  63.00      37.0         5.0       1.01
611         sinop  41.7711   34.8709  61.68      57.0         6.0       6.87
612         jumla  29.2747   82.1838  48.72      79.0        70.0       0.92

[568 rows x 7 columns]

In [28]:
map_df=df[["lat", "long", "humidity"]]
map_df
#map1=map_df.iloc[1:20]
#map1

        lat      long  humidity
1   71.2906 -156.7887      79.0
2   78.2186   15.6401      74.0
3   57.0531 -135.3300      87.0
4   64.8378 -147.7164      23.0
5   41.3712  -73.4140      21.0
6  -11.5500   20.7833      60.0
7  -32.0350  -52.0986      63.0
10  19.7297 -155.0900      65.0
11   9.4500   -5.6333      52.0
12 -46.1927  168.8643      76.0
13  59.3793   13.5036      58.0
14 -33.5906   26.8910      80.0
15 -33.9258   18.4232      87.0
16 -33.0153   27.9116      69.0
17 -24.4167  150.5000      34.0
18  55.7435  -97.8558      38.0
19  22.0500   72.8000      59.0
20 -23.1203 -134.9692      75.0
21  65.5833 -171.0000      95.0

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [36]:
locations = map_df[['lat', 'long']]
weights = map_df['humidity']
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [ ]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure